/*universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*header sytle */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*header h1 sytle */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*header span sytle for logo */
.header h1 .seo {
    color: #d9dcd6;
}
/*header div sytle */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*header unordered list sytle */
.header div ul {
    list-style-type: none;
}
/*header list sytle */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*Body sytle */
body {
    background-color: #d9dcd6;
}
/*defaul link sytle */
a {
    color: #ffffff;
    text-decoration: none;
}
/*default paragraph sytle */
p {
    font-size: 16px;
}
/*hero section sytle */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*moves left sytle */
.float-left {
    float: left;
    margin-right: 25px;
}
/*moves right sytle */
.float-right {
    float: right;
    margin-left: 25px;
}
/*content class sytle */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Consolidated css for aside sytle */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    
}
/*Benefit consolidated sytle */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Benefit consolidated image sytle */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Styles for all h2 headers */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Styles for all h3 headings */
h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Styles for duties in center article section */
.duties {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Styles for images in duties in center article section */
.duties img {
    max-height: 200px;
}

/* Styles footer section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Styles for h2 header in footer */
.footer h2 {
    font-size: 20px;
}
